USE [master]
GO
/****** Object:  Database [Medicina]    Script Date: 02.06.2024 22:13:26 ******/
CREATE DATABASE [Medicina]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Medicina', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Medicina.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Medicina_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Medicina_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Medicina].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Medicina]
GO
/****** Object:  Table [dbo].[Balance]    Script Date: 02.06.2024 22:13:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Balance](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdMedicine] [int] NULL,
	[IdHospitalDepartment] [int] NULL,
	[ImplementationMonth] [nvarchar](10) NULL,
	[ImplementationYear] [nvarchar](10) NULL,
	[Quantity] [int] NOT NULL,
 CONSTRAINT [PK_Balance] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 02.06.2024 22:13:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NameCategory] [nvarchar](120) NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 02.06.2024 22:13:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Surname] [nvarchar](20) NOT NULL,
	[Name] [nvarchar](20) NOT NULL,
	[Patronymic] [nvarchar](20) NOT NULL,
	[IdHospitalDepartment] [int] NULL,
 CONSTRAINT [PK_Employee] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HospitalDepartament]    Script Date: 02.06.2024 22:13:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HospitalDepartament](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NameDepartament] [nvarchar](50) NULL,
 CONSTRAINT [PK_HospitalDepartament] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LogOfReceipts]    Script Date: 02.06.2024 22:13:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LogOfReceipts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdMedicine] [int] NOT NULL,
	[DateRecepts] [date] NOT NULL,
	[QuantityReceipts] [int] NOT NULL,
	[ImplementationMonth] [nvarchar](10) NULL,
	[ImplementationYear] [nvarchar](10) NULL,
	[IdHospitalDepartament] [int] NULL,
 CONSTRAINT [PK_LogOfReceipts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LogWriteOff]    Script Date: 02.06.2024 22:13:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LogWriteOff](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdBalance] [int] NOT NULL,
	[DateWrite] [date] NOT NULL,
	[QuantityWrite] [int] NOT NULL,
	[IdEmployee] [int] NOT NULL,
	[Reason] [nvarchar](30) NULL,
 CONSTRAINT [PK_LogWriteOff] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Medicine]    Script Date: 02.06.2024 22:13:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Medicine](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MedicineName] [nvarchar](max) NOT NULL,
	[IdCategory] [int] NULL,
	[Description] [nvarchar](max) NULL,
	[Manufacture] [nvarchar](50) NULL,
 CONSTRAINT [PK_Medicine] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDeyails]    Script Date: 02.06.2024 22:13:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDeyails](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[IdOrder] [int] NULL,
	[IdMedicine] [int] NULL,
	[Quantity] [int] NULL,
 CONSTRAINT [PK_OrderDeyails] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 02.06.2024 22:13:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[DateOrder] [date] NULL,
	[IdDepartament] [int] NULL,
	[IdEmployee] [int] NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 02.06.2024 22:13:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Login] [nvarchar](20) NOT NULL,
	[Password] [nvarchar](20) NOT NULL,
	[IdEmployee] [int] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Balance] ON 

INSERT [dbo].[Balance] ([Id], [IdMedicine], [IdHospitalDepartment], [ImplementationMonth], [ImplementationYear], [Quantity]) VALUES (1, 1, 1, N'2', N'2024', 20)
SET IDENTITY_INSERT [dbo].[Balance] OFF
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([Id], [NameCategory]) VALUES (1, N'Наркотические анальгетики')
INSERT [dbo].[Category] ([Id], [NameCategory]) VALUES (2, N'Антибактериальные, противомикробные препараты')
INSERT [dbo].[Category] ([Id], [NameCategory]) VALUES (3, N'Антидепрессанты и средства нормотимического действия')
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
SET IDENTITY_INSERT [dbo].[Employee] ON 

INSERT [dbo].[Employee] ([Id], [Surname], [Name], [Patronymic], [IdHospitalDepartment]) VALUES (1, N'Исупов', N'Алексей', N'Александрович', NULL)
INSERT [dbo].[Employee] ([Id], [Surname], [Name], [Patronymic], [IdHospitalDepartment]) VALUES (2, N'Шаповалов', N'Вадим', N'Сергеевич', 15)
SET IDENTITY_INSERT [dbo].[Employee] OFF
GO
SET IDENTITY_INSERT [dbo].[HospitalDepartament] ON 

INSERT [dbo].[HospitalDepartament] ([Id], [NameDepartament]) VALUES (1, N'Гематологическое отделение')
INSERT [dbo].[HospitalDepartament] ([Id], [NameDepartament]) VALUES (2, N'Терапевтическое отделение')
INSERT [dbo].[HospitalDepartament] ([Id], [NameDepartament]) VALUES (3, N'Эндокринологическое отделение')
SET IDENTITY_INSERT [dbo].[HospitalDepartament] OFF
GO
SET IDENTITY_INSERT [dbo].[Medicine] ON 

INSERT [dbo].[Medicine] ([Id], [MedicineName], [IdCategory], [Description], [Manufacture]) VALUES (1, N'Морфин', 1, N'раствор для инъекций, капсулы/таблетки пролонгированного действия', N'')
INSERT [dbo].[Medicine] ([Id], [MedicineName], [IdCategory], [Description], [Manufacture]) VALUES (2, N'Пропионилфенилэтоксиэтилпиперидин', 1, N'таблетки защечные', NULL)
INSERT [dbo].[Medicine] ([Id], [MedicineName], [IdCategory], [Description], [Manufacture]) VALUES (3, N'Трамадол', 1, N'раствор для инъекций, капсулы, таблетки, суппозитории', NULL)
GO
SET IDENTITY_INSERT [dbo].[Medicine] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderDeyails] ON 

INSERT [dbo].[OrderDeyails] ([id], [IdOrder], [IdMedicine], [Quantity]) VALUES (1, NULL, 3, NULL)
INSERT [dbo].[OrderDeyails] ([id], [IdOrder], [IdMedicine], [Quantity]) VALUES (2, NULL, 9, NULL)
INSERT [dbo].[OrderDeyails] ([id], [IdOrder], [IdMedicine], [Quantity]) VALUES (3, NULL, 23, NULL)
SET IDENTITY_INSERT [dbo].[OrderDeyails] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [Login], [Password], [IdEmployee]) VALUES (1, N'L', N'P', 1)
INSERT [dbo].[Users] ([Id], [Login], [Password], [IdEmployee]) VALUES (2, N'ShapoValov', N'157', 2)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[Balance]  WITH CHECK ADD  CONSTRAINT [FK_Balance_HospitalDepartament] FOREIGN KEY([IdHospitalDepartment])
REFERENCES [dbo].[HospitalDepartament] ([Id])
GO
ALTER TABLE [dbo].[Balance] CHECK CONSTRAINT [FK_Balance_HospitalDepartament]
GO
ALTER TABLE [dbo].[Balance]  WITH CHECK ADD  CONSTRAINT [FK_Balance_Medicine] FOREIGN KEY([IdMedicine])
REFERENCES [dbo].[Medicine] ([Id])
GO
ALTER TABLE [dbo].[Balance] CHECK CONSTRAINT [FK_Balance_Medicine]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK_Employee_HospitalDepartament] FOREIGN KEY([IdHospitalDepartment])
REFERENCES [dbo].[HospitalDepartament] ([Id])
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK_Employee_HospitalDepartament]
GO
ALTER TABLE [dbo].[LogOfReceipts]  WITH CHECK ADD  CONSTRAINT [FK_LogOfReceipts_HospitalDepartament] FOREIGN KEY([IdHospitalDepartament])
REFERENCES [dbo].[HospitalDepartament] ([Id])
GO
ALTER TABLE [dbo].[LogOfReceipts] CHECK CONSTRAINT [FK_LogOfReceipts_HospitalDepartament]
GO
ALTER TABLE [dbo].[LogOfReceipts]  WITH CHECK ADD  CONSTRAINT [FK_LogOfReceipts_Medicine] FOREIGN KEY([IdMedicine])
REFERENCES [dbo].[Medicine] ([Id])
GO
ALTER TABLE [dbo].[LogOfReceipts] CHECK CONSTRAINT [FK_LogOfReceipts_Medicine]
GO
ALTER TABLE [dbo].[LogWriteOff]  WITH CHECK ADD  CONSTRAINT [FK_LogWriteOff_Balance] FOREIGN KEY([IdBalance])
REFERENCES [dbo].[Balance] ([Id])
GO
ALTER TABLE [dbo].[LogWriteOff] CHECK CONSTRAINT [FK_LogWriteOff_Balance]
GO
ALTER TABLE [dbo].[Medicine]  WITH CHECK ADD  CONSTRAINT [FK_Medicine_Category] FOREIGN KEY([IdCategory])
REFERENCES [dbo].[Category] ([Id])
GO
ALTER TABLE [dbo].[Medicine] CHECK CONSTRAINT [FK_Medicine_Category]
GO
ALTER TABLE [dbo].[OrderDeyails]  WITH CHECK ADD  CONSTRAINT [FK_OrderDeyails_Medicine] FOREIGN KEY([IdMedicine])
REFERENCES [dbo].[Medicine] ([Id])
GO
ALTER TABLE [dbo].[OrderDeyails] CHECK CONSTRAINT [FK_OrderDeyails_Medicine]
GO
ALTER TABLE [dbo].[OrderDeyails]  WITH CHECK ADD  CONSTRAINT [FK_OrderDeyails_Orders] FOREIGN KEY([IdOrder])
REFERENCES [dbo].[Orders] ([id])
GO
ALTER TABLE [dbo].[OrderDeyails] CHECK CONSTRAINT [FK_OrderDeyails_Orders]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Employee] FOREIGN KEY([IdEmployee])
REFERENCES [dbo].[Employee] ([Id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Employee]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_HospitalDepartament] FOREIGN KEY([IdDepartament])
REFERENCES [dbo].[HospitalDepartament] ([Id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_HospitalDepartament]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Employee] FOREIGN KEY([IdEmployee])
REFERENCES [dbo].[Employee] ([Id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Employee]
GO
USE [master]
GO
